@keyframes animation {
  0% {
    opacity: 0;
  }

  99% {
    opacity: 1;
  }
}

.Loader {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  animation: animation 1s forwards;
  text-align: center
}

.Loader .Logo {
  position: absolute;
  right: 33.5%;
  bottom: 33%;
  animation: animation 3s forwards
}

.noAbsolute {
  position: initial
}