.Button {
  border-radius: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 16px;
  text-align: center;
  color: #2D9CDB;
  padding: 5px 14px 6px 14px;
  border: 2px solid #2D9CDB;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

.Button:hover {
  background: #2D9CDB;
  color: white;
  border: 2px solid #2D9CDB;
}

.Button:active {
  background: rgb(35, 163, 236);
  color: white;
  border: 2px solid rgb(35, 163, 236);
}