@keyframes animation {
  0% {
    opacity: 0;
  }

  99% {
    opacity: 1;
  }
}

.FilterBar {
  animation: animation 1.2s forwards;
  height: 88px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.08)
}

.FilterBarContent {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.FilterBar > div > div > div:nth-child(1) {
  width: 0;
}

.FilterBarContent > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  width: 70%;
  max-width: 1000px;
}

.FilterBarContent > div:nth-child(3) {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.FilterBy {
  display: flex;
  align-items: center;
}

.FilterBy > span {
  font-size: 16px;
  font-weight: 400;
  color: #828282;
}

.FilterBy > div {
  width: 160px;
  overflow: hidden;
  position: relative;
  padding: 10px 0;
}

.FilterBy > div > select,
.FilterBy > div > select > option {
  color: #A0A0A0;
  font-weight: 400;
  cursor: pointer;
}

.FilterBy > div > select {
  width: 180px;
  border: 0;
  position: relative;
  z-index: 99;
  background: none;
}

.FilterBy > div:after {
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #FF6600;
  position: absolute;
  top: 40%;
  right: 5px;
  content: "";
  z-index: 98;
 }

.Range {
  display: flex;
  align-items: center;
  width: 20vw;
}

.Range > div {
  width: calc(100% - 140px - 1rem);
}

.Range > span {
  width: 140px;
  margin-right: 1rem;
  font-size: 16px;
  font-weight: 400;
  color: #828282;
}

.OnlyRedeem {
  display: flex;
  align-items: center
}

.OnlyRedeem > svg {
  cursor: pointer;
}

.OnlyRedeem > span {
  margin-left: .4rem;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  font-weight: 400;
  color: #A0A0A0;
}

.FilterBy.SmallSelect > div {
  width: 120px;
  margin-left: .5rem;
}

.FilterBy.SmallSelect > div > select {
  width: 140px;
}

@media(max-width: 1180px) {
  .FilterBar {
    height: auto
  }

  .Range {
    width: 35%;
  }

  .FilterBarContent {
    padding: 1.5em 0 0 0;
  }

  .FilterBar > div > div > div:nth-child(1) {
    width: 100%;
  }

  .FilterBarContent > div:nth-child(2) {
    width: 80%;
  }
}

@media(max-width: 992px) {
  .FilterBarContent > div:nth-child(2) {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 72%;
  }

  .Range {
    width: 60%;
  }

  .FilterBarContent > div:nth-child(2) > div:first-child {
    margin-right: 2rem;
  }

  .OnlyRedeem {
    width: 100%;
    padding-bottom: 1.5rem;
  }

  .FilterBarContent {
    position: relative;
  }
}

@media(max-width: 992px) and (min-width: 676px) {
  .FilterBarContent > div:nth-child(3) {
    position: absolute;
    right: 0;
    width: 100%;
    height: 22px;
    top: 4.5rem;
  }
}

@media(max-width: 720px) {
  .Range {
    width: 52.5%;
  }
}

@media(max-width: 675px) {
  .FilterBarContent > div:nth-child(2),
  .FilterBarContent > div:nth-child(1) {
    width: 100%;
  }

  .FilterBarContent > div:nth-child(2) > div:first-child {
    margin-top: 1.5rem;
  }

  .FilterBarContent > div:nth-child(2) > div:first-child > div > select {
    right: 5px;
  }

  .FilterBar {
    height: auto
  }

  .Range {
    width: 100%;
  }

  .FilterBarContent > div:nth-child(3) {
    width: auto;
    margin-bottom: 1.5rem;
  }

  .FilterBarContent > div:nth-child(1) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .FilterBarContent > div:nth-child(2) {
    justify-content: flex-start;
    margin-bottom: 0;
  }
}