.EcommerceCards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.EcommerceCardS-Item-enter {
  opacity: 0.01;
}

.EcommerceCardS-Item-enter-active {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.EcommerceCardS-Item-exit {
  opacity: 1;
}

.EcommerceCardS-Item-active {
  opacity: 0.01;
  transition: opacity .2s ease-in;
}