.Wrapper {
  width: 100%;
  height: 100%
}

@media(min-width: 1024px) {
  .Wrapper {
      padding: 0 40px
  }
}

@media(max-width: 1023px) and (min-width: 600px) {
  .Wrapper {
      padding: 0 20px
  }
}

@media(max-width: 599px) {
  .Wrapper {
      padding: 0 10px
  }
}

.Debug {
  border: 1px solid green
}