@keyframes animation {
  0% {
    opacity: 0;
  }

  99% {
    opacity: 1;
  }
}

.Card {
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  padding: 10px 20px 20px 20px;
  transition: all .3s
}

.Card:hover {
  box-shadow: 0px 5px 8px rgba(45, 155, 219, 0.144),
              10px 0 8px rgba(45, 155, 219, 0.144),
              -1px 0 8px rgba(45, 155, 219, 0.144),
              -10px -5px 8px rgba(45, 155, 219, 0.144);
}

.Img {
  width: 180px;
  height: 140px;
  overflow: hidden;
  margin-bottom: 10px;
}

.Category {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: .8rem;
  color: #A0A0A0;
  margin-bottom: 10px;
  transition: all .2s;
  cursor: pointer;
}

.Category:hover {
  color: rgb(145, 145, 145);
  font-weight: 400;
}

.Category:active {
  color: rgb(110, 110, 110);
  font-weight: 400;
}

.Name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  color: #828282;
  margin-bottom: 10px;
}

.Cost {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 16px;
  color: #828282;
  margin-bottom: 10px;
}

.Cost > span {
  vertical-align: middle;
  animation: animation 3s forwards;
}

.NoAllow {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 12px;
  text-align: center;
  color: #2D9CDB;
}

.Toast {
  background-color: #2D9CDB !important;
}

.ToastBody {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  color: white
}