@keyframes animation {
  0% {
    opacity: 0;
  }

  99% {
    opacity: 1;
  }
}

.Header {
  display: flex;
  align-items: center;
  height: 80px;
  animation: animation 0.8s forwards;
  justify-content: space-between;
}

.BlockUserData {
  display: flex;
  justify-content: space-between;
}

.BlockUserData > div {
  display: flex;
  align-items: center;
}

.BlockUserData > div:nth-child(1) {
  margin-right: 2rem;
}

.Header > div {
  flex: 1;
  display: flex;
  justify-content: center;
}

.Header > div:first-child > span { margin-right: auto; }

.Header > div:last-child  > span { margin-left: auto; }

.InputField {
  position: relative;
}

.Label {
  position: absolute;
  right: .6rem;
  top: 18%;
}

.Input {
  border: none;
  width: 33vw;
  background: #F0F0F0;
  border-radius: 24px;
  height: 35px;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-size: 1rem;
  color: #828282;
  padding: 0 3rem 0 1.5rem;
}

.Input::placeholder {
  font-style: italic;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-size: 1rem;
  color: #A0A0A0;
}

.InputFieldMobile {
  display: none;
}

.SpanPoints {
  color: #828282;
  font-size: 2rem;
  font-weight: normal
}

.SpanName {
  color: #A5A5A5;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 2rem;
}

.Avatar {
  max-width: 44px;
  border-radius: 50%;
  box-shadow: 0px 5px 6px 0px #0000004a;
}

@media(max-width: 1080px) {
  .SpanPoints {
    font-size: 1.2rem;
    font-weight: normal
  }

  .SpanName {
    margin-right: 1.2rem;
  }
}

@media(max-width: 921px) {
  .Header > div:nth-child(1) {
    flex: 1
  }

  .Header > div:nth-child(2) {
    flex: 1
  }

  .Header > div:nth-child(3) {
    flex: 2
  }

  .BlockUserData > div:nth-child(1) {
    margin-right: 0.5rem;
  }

  .SpanName {
    margin-right: 0.5rem;
  }
}

@media(max-width: 645px) {
  .Header > div:nth-child(1) {
    flex: 0.5
  }

  .Header > div:nth-child(2) {
    flex: 1.5
  }
}

@media(max-width: 601px) {
  .Header > div:nth-child(2) {
    display: none;
  }

  .SpanName {
    display: none;
  }

  .InputFieldMobile {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .InputFieldMobile > .Input {
    width: 100%;
  }
}