@keyframes animation {
  0% {
    opacity: 0;
  }

  99% {
    opacity: 1;
  }
}

.Banner {
  height: 200px;
  background: #2D9CDB;
  animation: animation 1s forwards;
  display: flex;
}

.Banner > div > div {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.Banner > div > div > div:first-child {
  font-size: 2rem;
  color: white
}

.Banner > div > div > div:first-child > span {
  font-weight: 300;
  font-family: Raleway;
}

.Banner > div > div > div:first-child > span > strong {
  font-weight: 900;
  font-family: Raleway;
}

.Banner > div > div > div:last-child > div {
  position: relative;
  width: 75%;
}

.Banner > div > div > div:last-child > div > img {
  position: absolute;
  top: -70px;
  right: 0;
}

.Banner > div > div > div {
  flex: 1 1 100%
}

@media(max-width: 1080px) {
  .Banner > div > div > div:first-child {
    font-size: 2rem;
  }

  .Banner > div > div > div:last-child > div {
    width: 100%;
  }
}

@media(max-width: 767px) {
  .Banner > div > div > div:first-child {
    font-size: 1.5rem;
  }

  .Banner > div > div > div:last-child > div > img {
    top: -25px;
    right: 10%;
    width: 200px;
  }
}

@media(max-width: 490px) {
  .Banner > div > div > div:last-child > div > img {
    top: 15px;
    right: 10%;
    width: 100%;
  }

  .Banner > div > div > div:nth-child(2) {
    flex: 1 1 50%
  }
}

@media(max-width: 390px) {
  .Banner > div > div > div:last-child > div > img {
    display: none;
  }
}