.Slider {
  position: relative;
  width: 100%;
  height: 80px;
}

.Rail {
  position: absolute;
  width: 100%;
  height: 2px;
  margin-top: 40px;
  border-radius: 5px;
  background-color: #FF6600;
}

.Handle {
  position: absolute;
  margin-left: -3px;
  margin-top: 35px;
  z-index: 2;
  width: 11px;
  height: 11px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: #FF6600;
}

.Track {
  position: absolute;
  z-index: 1;
  height: 2px;
  margin-top: 40px;
  background-color: #C8C8C8;
  border-radius: 5;
  cursor: pointer;
}